<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Cadastro Cidade</title>


<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>
<br>


 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  </div>
      <div class="col s12 card-panel teal grey darken-1"><span class="flow-text">Cadastro de Cidade </span>
        <br>
      </div>
    </div>
</div>
<br>

<div class="container">
 
  
   <form action="/salvarcidade" id="formcidade" method="post" th:object="${cidadebj}" >
    <div class="row" >
       <div class="input-field col s12">
           <label for="id" class="active">ID</label> 
          	<input name="id" th:field="*{id}" id="id" class="validate" readonly="readonly">
        </div>
        
      
    <div class="input-field col s12">
      <label for="nome" class="active">Nome</label> 
      <input name="nome" th:field="*{nome}" id="nome" class="validate" required>
    </div>
 
 <!--   
        
   <div class="input-field col s12">
    <label for="estado" class="active">Estado</label> 
    <br>
    <select th:field="*{estado}" class="browser-default" required>
    <option th:each="est: ${estados}"
			th:value="${est.id}" th:text="${est.nome}" ></option>
     </select> 
    </div>
   -->
    
    
        <br>
    <div class="input-field col s12">
     <input type="text" id="autocomplete-input-estado"
            placeholder="Pesquise por Estado"
            autocomplete="off"
            required="required"
            class="autocomplete"/>
            <label for="autocomplete-input-estado">Estado</label>
     <input type="hidden"   id="estado"  name="estado"/>
    </div>
   
       <a  onclick="M.toast({html: 'Voltando',classes: 'blue rounded'})" href="/listacidades" class="waves-effect waves-light btn grey darken-1 ">Voltar</a>
       <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
     </div>
    </form>

</div>


<div th:replace="fragments :: footer"/>
</body>


<!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="materialize/titulo.autocomplete-estidade.js"></script>



</html>