<!DOCTYPE html>
<html layout:decorate="~{layoutDataTable}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="card-body">
		<div class="barraPrincipal" layout:fragment="barraPrincipal"   >
			<nav class="navbar navbar-dark" >
			  <div class="container-fluid" >
				<span class="info-box-text">Cidades </span> 
				<div style="text-align:right"  class="col s6">
					<a  href="/cadastrocidade" class="btn btn-secondary">Adicionar</a>
				  </div>

				  <td>
					<!-- Botão de exclusão que dispara o modal -->
				
				</td>

			  </div>
			</nav>	
		</div>
	</div>
		<div class="card-body" style="width:100%">	
			<div class="corpo" layout:fragment="corpo"  >
				<table id="table-cidades-server"  class="table table-striped" style="width:100%">
				  <thead >
					<tr>
					 
					 <th scope="col">Id</th>
					  <th scope="col">Nome</th>
					  <th scope="col">Estado</th>
					  <th scope="col">Quantidade de Clientes</th>
					  <th scope="col">Ação</th>
					</tr>
				  </thead>
				</table>	
				<br>
	        <!-- Button trigger modal -->
			</div>
			<script th:src="@{js/cidade/cidade-datatable.js}" th:fragment="js"></script>		
		</div>
	</div>
</body>



</html>