<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista de Cidades</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Lista de Cidades</h5>
      
      </div>
       <div style="text-align:right"  class="col s6">
         <a  href="/cadastrocidade" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilter"  class="table table-striped">
   <div style="text-align:right" >
  </div>
   <thead>
     <tr>
     <th>Id</th>
	    <th>Nome</th>
	    <th>Estado</th>
	    <th>Excluir</th>  
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "cidade : ${cidades}">
	  <td>
	   <a onclick="M.toast({html: 'Editando Cidade',classes: 'blue rounded'})" th:href="@{/editarcidade/{idcidade}(idcidade=${cidade.id})}" th:text="${cidade.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Cidade',classes: 'blue rounded'})" th:href="@{/editarcidade/{idcidade}(idcidade=${cidade.id})}" th:text="${cidade.nome}"></a>
	   </td>
	  <td>
	   <a onclick="M.toast({html: 'Editando Cidade',classes: 'blue rounded'})" th:href="@{/editarcidade/{idcidade}(idcidade=${cidade.id})}" th:text="${cidade.estado}"></a>
	  </td>
	  <td> <a onclick="M.toast({html: 'Deletando Cidade',classes: 'red rounded'})" th:href="@{/removercidade/{idcidade}(idcidade=${cidade.id})}"><i class="material-icons">delete_forever</i></a></td>
	 
	  </tr>
	 </tbody>
	
	 
</table>

 </div>  
  


<div th:replace="fragments :: footerScript"/>  

</body>



</html>