<!DOCTYPE html>
<html layout:decorate="~{layoutDataTable}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<!-- SELECT2 EXAMPLE --> 
<div layout:fragment="corpo" style="width:100%">
	<form action="/salvarcliente" id="formconta" method="post" th:object="${clientebj}" >
	<div class="card-header">
		  <h3 class="card-title">Cadastro de Cliente</h3>
		  <div style="text-align:center" id ="mensagens" th:class="${color}" role="alert">
			<span class="info-box-number" th:text="${id}"></span>
		  </div> 
	</div>  

	<!-- /.card-header -->
	<div class="card-body">
	<div class="row">
		<div class="col-md-1">
		  <div class="form-group">
			<label for="id">Id</label> 
			<input class="form-control" type="text" name="id" th:field="*{id}" id="id" readonly="readonly" >
		</div>
		</div>
		<!-- /.col -->
		<div class="col-md-11">
		  <div class="form-group">
	        <label for="nome">Nome</label> 
		    <input class="form-control" type="text" name="nome" th:field="*{nome}" id="nome" required>
		  </div>
	    </div>
		<!-- /.form-group -->
	</div>

	<div class="row">
       <div class="col-md-4">
			<div class="form-group">
				<label for="telefone">Telefone</label> 
				<input class="form-control" type="text" name="telefone" th:field="*{telefone}" id="telefone"  required>
			</div>
		</div>
		<!-- /.form-group -->
			
		<div class="col-md-4">
			<div class="form-group">
			<label for="cpf">CPF</label> 
			<input class="form-control" type="text" name="cpf" th:field="*{cpf}" id="cpf"  maxlength="14" required>
		    </div>
	   </div>
	   <!-- /.form-group -->

	   <div class="col-md-4">
		  <div class="form-group">
		   <label for="rg">RG</label> 
		   <input class="form-control" type="text" name="rg" th:field="*{rg}" id="rg">
		  </div>
	   </div>
	   <!-- /.form-group -->
		
	    </div>
		  <div class="row">
			<!-- /.col -->
			<div class="col-md-6">
				<div >
					<label>Cidade</label>
					<select th:field="*{cidade}" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" required>
						<option th:each="cid: ${cidades}"
						th:value="${cid.id}" th:text="${cid.nome}" ></option>
					</select>
				</div>
			</div>
		
			<div class="col-md-3">
				<div class="form-group">
					<label for="Bairro">Bairro</label> 
					<input class="form-control" type="text" name="bairro" th:field="*{bairro}" id="bairro">
				  </div>
			  </div>
			  <!-- /.form-group -->
			  <div class="col-md-3">
				<div class="form-group">
					<label for="logradouro">Logradouro</label> 
					<input class="form-control" type="text" name="logradouro" th:field="*{logradouro}" id="logradouro">
				  </div>
			  </div>
			  <!-- /.form-group -->
		</div>
</div>

<div class="card-footer"> 
  <a  href="/listaclientes" class="btn btn-warning ">Voltar</a>
  <button type="submit"  class="btn btn-success">Salvar</button>
  <td><a th:if="${clientebj.id !=null}"  th:href="@{/cadastrolocacao/{idCliente}(idCliente=${clientebj.id})}" class="btn btn-info" >Nova Locação</a> </td> 
</div>
</form>
    <script  th:src="@{js/format/jquery.maskMoney.min.js}"  th:fragment="js"></script>
	<script  th:src="@{js/format/format.js}"  th:fragment="js"></script>
	<script  th:src="@{js/format/alert.js}"  th:fragment="js"></script>


	</div>
</body>
</html>