<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Clientes</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Lista de Clientes</h5>
      
      </div>
       <div style="text-align:right"  class="col s6">
         <a  href="/cadastrocliente" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilter"  class="table table-striped">
   <div style="text-align:right" >
  </div>
   <thead>
     <tr>
        <th>Id</th>
	    <th>Nome</th>
	    <th>Telefone</th>
	    <th>Cpf</th>
	    <th>Cidade</th>
	    <th>Locação</th>
	    <th>Excluir</th> 
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "cliente : ${clientes}">
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}" th:text="${cliente.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}" th:text="${cliente.nome}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}" th:text="${cliente.telefone}"></a>
	   </td>  
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}" th:text="${cliente.cpf}"></a>
	   </td>  	
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}" th:text="${cliente.cidade}"></a>
	   </td>     
	   <td>  <a th:href="@{/cadastrolocacao/{idCliente}(idCliente=${cliente.id})}"> <i class="material-icons">shopping_cart_checkout</i> </a></td>
	  <td> <a onclick="M.toast({html: 'Deletando Cliente',classes: 'red rounded'})" th:href="@{/removercliente/{idcliente}(idcliente=${cliente.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr> 
	 </tbody>
	
	 
</table>

 </div>  
  


<div th:replace="fragments :: footerScript"/>

</body>



</html>