<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Contas Bancarias</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Contas</h5>
      
      </div>
       <div style="text-align:right"  class="col s6">
         <a  href="/cadastroConta" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
	<table id="tabFilterOrderId" class="table table-striped" style="width:100%">
  <div style="text-align:right" >
  </div>
   <thead>
     <tr>
     <th style="max-width: 3%">Id</th>
	    <th style="max-width: 5%">Instituição</th>
	    <th>Tipo</th>
		<th>Valor</th>
		<th>Data</th>
	    <th style="max-width: 3%">Excluir</th>
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "conta : ${listacontasBancarias}">
	  <td>
	   <a onclick="M.toast({html: 'Editando Conta',classes: 'blue rounded'})" th:href="@{/editarconta/{idconta}(idconta=${conta.id})}" th:text="${conta.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Conta',classes: 'blue rounded'})" th:href="@{/editarconta/{idconta}(idconta=${conta.id})}" th:text="${conta.instituicao}"></a>
	   </td>
	  <td>
	   <a onclick="M.toast({html: 'Editando Conta',classes: 'blue rounded'})" th:href="@{/editarconta/{idconta}(idconta=${conta.id})}" th:text="${conta.tipo}"></a>
	  </td>
	  <td>
		<a onclick="M.toast({html: 'Editando Conta',classes: 'blue rounded'})" th:href="@{/editarconta/{idconta}(idconta=${conta.id})}" th:text="${#strings.replace(#numbers.formatCurrency(conta.valor), '.00,', '')}"></a>
	   </td>
	   <td>
		<a onclick="M.toast({html: 'Editando Conta',classes: 'blue rounded'})" th:href="@{/editarconta/{idconta}(idconta=${conta.id})}" th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"></a> 
	   </td>
	    <td><a th:href="@{/removerconta/{idconta}(idconta=${conta.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
	
	 
</table>

 </div>  
  
<div th:replace="fragments :: footerScript"/>

</body>

</html>