<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Contas Bancarias</title>

<head th:replace="~{fragments :: html_head}"/>


<body>

<div th:replace="~{fragments :: menu}"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Parcelas</h5>
      </div>
    </div>
  </nav>



  <div class="row grey lighten-2" style="margin:auto; padding:auto; max-width: 98%">  
	<form th:action="@{/pesquisarparcela}" method="POST">
	<div class="row">
	
	<div class="input-field col s6">
	   <input name="dataInicio" id="datapesquisa" type="date" >
	   <label for="datapesquisaInicio" class="active">Data Inicio </label>
	</div>
	<div class="input-field col s6">
	   <input name="dataFinal" id="datapesquisa" type="date" >
	   <label for="datapesquisaFim" class="active">Data Final </label>
	</div>
	<div class="col s6"> 
	   <input class="waves-effect waves-light btn grey darken-1" 
			  type="submit" onclick="M.toast({html: 'Pesquisando parcela Específica',classes: 'blue rounded'})" value="Buscar">
	</div>
  
	<div style="text-align:right" class="col s6"> 
	  <a  href="/parcelasProblemas" class="waves-effect waves-light btn grey darken-1">Parcelas  Incompletas</a>
   </div>
  
  
	</div>
   </form>
	</div>



<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
	<table id="tabFilterAjustes" class="table table-striped" style="width:100%">
		<div style="text-align:right" >
		</div>
		 <thead>
		 <tr>
		  <th>Id Locação</th>
		  <th>Cliente</th>
		  <th>Cpf</th>
		  <th>Cidade</th>
		  <th>Numero NF</th>
		  <th>Observações</th>
		  <th>Vencimento</th>
		  <th>Pagamento</th>
		 <th>Moeda</th>
		  <th>Valor Total</th>
		 <th>Anexo</th> 
		 </tr>
	  </thead>
	  
	   <tbody>
		<tr th:each = "parcela : ${parcelas}">
		  <td>
			   <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.Idlocacao}"></a>
		 </td> 
	   <td>
			<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.cliente}"></a>
	  </td> 
	  <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.cpf}"></a>
     </td>
	 <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.cidade}"></a>
     </td>
	 <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.numeroNf}"></a>
       </td> 
	  <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#strings.abbreviate(parcela.observacao,50)}"></a>
       </td> 
		 <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#dates.format(parcela.data_vencimento, 'dd/MM/yyyy')}"></a>
		 </td>
	   <td>
		  <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#dates.format(parcela.data_pagamento, 'dd/MM/yyyy')}"></a>
		 </td>
	   <td>
		<a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.moeda}"></a>
	</td> 
	   <td>
		 <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#strings.replace(#numbers.formatCurrency(parcela.valor), '.00,00', '')}"></a>
		 </td>
	<td><a th:if="${parcela.arquivo !=null}"  th:href="@{/baixarArquivoParcela/{idparcela}(idparcela=${parcela.id})}" ><i class="material-icons">cloud_download</i></a>  </td> 		
	</tr>
	   </tbody>
	   </table> 

 </div>  
  
<div th:replace="~{fragments :: footerScript}"/>


</body>

</html>