<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Cadastro Locação</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>
<br>

 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  </div>
      <div class="col s12 card-panel teal grey darken-1"><span class="white-text"><h6>Cadastro de Locação </h6></span>
        <br>
      </div>
    </div>
</div>
<br>

<div class="container">
   <div class="row">
   <form action="/salvarlocacao" id="formlocacao" method="post" th:object="${locacaobj}">
    
    <div class="input-field col s12">
      <label for="id" class="active">ID</label> 
      <input name="id" th:field="*{id}" id="id" class="validate" readonly="readonly">
    </div>
      
    <div class="input-field col s6">
      <label for="categoria" class="active">Atendente</label> 
      <br>
	    <select th:field="*{colaborador}" class="browser-default" required>
	    <option th:each="cid: ${colaboradores}"
				th:value="${cid.id}" th:text="${cid.nome}" ></option>
	    </select> 

    </div>        
    <div class="input-field col s6">
     <label for="Cliente" class="active">Cliente</label> 
     <br>
       <select th:field="*{cliente}" class="browser-default">
       <option th:each="cid: ${clientes}"
			   th:value="${cid.id}" th:text="${cid.nome}" ></option>
       </select> 
    </div>

<div class="col s6">
      <label for="papel">Papel</label>  
      <select th:field="*{papel}" class="browser-default" required >
       <option value="Convidado">Convidado</option>
       <option value="Formando">Formando</option>
       <option value="Noivo">Noivo</option>
       <option value="Pajem">Pajem</option>
       <option value="Padrinho">Padrinho</option>
       <option value="Pai de Noiva (o) ">Pai de Noiva (o) </option>
       <option value="Pai de Formanda (o) ">Pai de Formanda (o) </option>
       <option value="Pai de debutante">Pai de debutante </option>
       <option value="Irmao da noiva (o)">Irmão da noiva (o) </option>
       <option value="Namorado da debutante">Namorado da debutante </option>
       <option value="Não Informado">Não Informado</option>
       <option value="Outros">Outros</option>
   
     </select>
  </div>

    <div class="col s6">
      <label for="origem">Origem</label>  
      <select th:field="*{origem}" class="browser-default" required >
       <option value="Visita Local">Visita Local</option>
       <option value="Cliente Estilo Noiva">Cliente Estilo Noiva</option>
       <option value="Cliente Fibonatti">Cliente Fibonatti</option>
       <option value="Indicação">Indicação</option>
       <option value="Instagram">Instagram</option>
       <option value="Google Ads">Google Ads</option>
       <option value="Facebook">Facebook</option>
       <option value="WhatsAPP">WhatsAPP</option>
       <option value="Não Informado">Não Informado</option>
     </select>
  </div>
     



  <div  style="margin:auto; padding:auto; max-width: 98%">

    <div class="col s12 card-panel grey lighten-5" >
      <div class="col s12 card-panel teal grey darken-1 white-text">  <h7>Detalhes do Evento</h7>
      </div>
          <div >
    </div>


    
        <div  style="margin:auto; padding:auto; max-width: 100%"> 
          
          <div class="input-field col s6">
            <label for="cidade_evento" class="active">Cidade do Evento</label> 
            <br>
            <select th:field="*{cidade_evento}" class="browser-default" >
              <option value=""></option>
            <option th:each="cid: ${cidades}"
              th:value="${cid.id}" th:text="${cid.nome}" ></option>
             </select> 
            </div> 
            <div class="input-field col s6">
              <label for="evento" class="active">Evento</label> 
              <br>
              <select th:field="*{evento}" class="browser-default" requred>
              <option value=""></option>
              <option th:each="cid: ${eventos}"
                th:value="${cid.id}" th:text="${cid.nome}" ></option>
               </select> 
              </div>  
        
              <div class="col s12">
                <label for="detalhes_evento" class="active">Informações Gerais do Evento</label> 
                <input name="detalhes_evento" th:field="*{detalhes_evento}" id="detalhes_evento">
              </div>
          
          
        </div>
      <br>
      </div>
  </div>
  <br>
      
    <div class="col s6">
      <label for="pickdate" class="active">Data Evento</label> 
      <input type="text" class="datepicker" th:field="*{data_evento}"  name="data_evento"  required>
    </div>

        
    <div class="col s6">
      <label for="pickdate" class="active">Data Retirada</label> 
      <input type="text" class="datepicker" th:field="*{data_retirada}"  name="data_retirada" required >
    </div>


      
    <div class="col s3">
      <label for="pickdate" class="active">Data Locação</label> 
      <input type="text" class="datepicker" th:field="*{data_locacao}"  name="data_locacao"  readonly="readonly">
    </div>
    
    <div class="col s3">
      <label for="pickdate" class="active">Data Prova</label> 
      <input type="text" class="datepicker" th:field="*{data_prova}"  name="data_prova" required >
    </div>


    <div class="col s6">
      <label for="pickdate" class="active">Data Devolução</label> 
      <input type="text" class="datepicker" th:field="*{data_devolucao}"  name="data_devolucao"  required>
    </div>
    
      
    <div class="col s12">
      <label for="observacao" class="active">Observações do Contrato</label> 
      <input name="observacao" th:field="*{observacao}" id="observacao" class="validate" required>
    </div>

   <div class="col s12">
   <br>
    <a  onclick="M.toast({html: 'Voltando',classes: 'blue rounded'})" href="/listalocacoes" class="waves-effect waves-light btn grey darken-1 ">Voltar</a>
    <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
    
    <td><a th:if="${locacaoId !=null}"  th:href="@{/gerarRelatorio/{idlocacao}(idlocacao=${locacaoId})}" class="waves-effect waves-light btn grey darken-1 ">Contrato</a> </td> 
    
   </div>
    </form>
  </div>

  <div class="card" style="margin: 20px auto; padding:20px; max-width: 100%" >
    <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 100%">
      <div class="row">
       <div style="text-align:left"  class="col s6">
        <h6 class="white-text">Produtos do Contrato</h6>       
       </div>
        <div style="text-align:right"  class="col s6">
          <a th:if="${locacaoId !=null}"   id="btnModalProdutos" class="waves-effect waves-light btn modal-trigger" href="#modalProdutos"> Adicionar </a>
        </div>
     </div>
     
   </nav>

    <table id="tabFilterOrderId" class="table table-striped" style="width:100%" rendered="false">
    <div style="text-align:right" >
    </div>
     <thead>
   <tr>
    <th>Cod. Produto</th>
    <th>Produto</th>
    <th>Tamanho</th>
    <th>Cor</th> 
    <th>Data Liberação </th>
    <th>Valor</th>
    <th>Foto</th>
    <th>Atalho</th>
    <th>Excluir</th>
   </tr>
</thead>

 <tbody>
  <tr th:each = "produtoLocacao : ${produtosLocacoes}">
  <td>   
     <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" th:text="${produtoLocacao.produto.id}"></a>
  </td>
  <td>   
     <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" th:text="${produtoLocacao.produto.categoria.nome}"></a>
   </td>
   <td>   
     <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" th:text="${produtoLocacao.produto.tamanho}"></a>
   </td>
   <td>   
     <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" th:text="${produtoLocacao.produto.cor}"></a>
   </td>
   <td>
      <a th:text="${#dates.format(produtoLocacao.data_liberacao, 'dd/MM/yyyy')}"></a>
   </td>
   <td>
   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" th:text="${#strings.replace(#numbers.formatCurrency(produtoLocacao.valor), '.00,00', '')}"></a>
   </td> 
  </td>
  <td><a th:if="${produtoLocacao.arquivo !=null}"  th:href="@{/baixarArquivoProdutoCustom/{idproduto}(idproduto=${produtoLocacao.id})}" ><i class="material-icons">cloud_download</i></a> </td> 
  <td> <a th:href="@{/editarproduto/{idproduto}(idproduto=${produtoLocacao.produto.id})}"> <i class="material-icons">shopping_cart_checkout</i> </a></td>
  <td> <a onclick="M.toast({html: 'Deletando produto',classes: 'red rounded'})" th:href="@{/removereprodutolocacao/{idproduto}(idproduto=${produtoLocacao.id})}"> <i class="material-icons">delete_forever</i></a></td>

</tr>

 
 </tbody>
 <tfoot>
  <tr>
      <td  >  
        <input name="totalProdutos"  th:value= "${#strings.replace(#numbers.formatCurrency(totalProdutos), '.00,00', '')}"  id="totalProdutos" readonly="readonly" >
      </td>
  </tr>
</tfoot>


 </table> 

</div>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 100%" >
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 100%">
    <div class="row">
     <div style="text-align:left"  class="col s6">
      <h6 class="white-text">Plano de Pagamento</h6>       
     </div>
      <div style="text-align:right"  class="col s6">
        <a th:if="${locacaoId !=null}"  id="btnModal" class="waves-effect waves-light btn modal-trigger" href="#modal1"> Adicionar </a>
      </div>
   </div>
   
 </nav>

      <table id="tabFilterOrderId" class="table table-striped" style="width:100%">
      <div style="text-align:right" >
      </div>
       <thead>
	   <tr>
	    <th>id</th>
	    <th>Vencimento</th>
	    <th>Pagamento</th>
      <th>Moeda</th>
	    <th>Valor Total</th>
      <th>Anexo</th> 
	    <th>Excluir</th>
	   </tr>
	</thead>
	
	 <tbody>
	  <tr th:each = "parcela : ${parcelas}">
	    <td>
	   	  <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.id}"></a>
	   </td> 

	   <td>
      <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#dates.format(parcela.data_vencimento, 'dd/MM/yyyy')}"></a>
	   </td>
	   
     <td>
	    <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#dates.format(parcela.data_pagamento, 'dd/MM/yyyy')}"></a>
	   </td>
     <td>
      <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${parcela.moeda}"></a>
  </td> 
     <td>
	   <a onclick="M.toast({html: 'Editando parcela',classes: 'blue rounded'})" th:href="@{/editarParcelaCustom/{idparcela}(idparcela=${parcela.id})}" th:text="${#strings.replace(#numbers.formatCurrency(parcela.valor), '.00,00', '')}"></a>
	   </td>
  <td><a th:if="${parcela.arquivo !=null}"  th:href="@{/baixarArquivoParcela/{idparcela}(idparcela=${parcela.id})}" ><i class="material-icons">cloud_download</i></a>  </td> 
	  <td> 
	   <a onclick="M.toast({html: 'Deletando parcela',classes: 'red rounded'})" th:href="@{/removerparcela/{idparcela}(idparcela=${parcela.id})}"> <i class="material-icons">delete_forever</i></a>
	  </td>
	  
  </tr>
</tbody>
<tfoot>
 <tr>
     <td  >  
       <input name="totalPagamento"  th:value= "${#strings.replace(#numbers.formatCurrency(totalPagamento), '.00,00', '')}"  id="totalPagamento" readonly="readonly" >
     </td>
 </tr>
</tfoot>
	 </table> 
   
    </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">

     <h4>Incluir Parcela</h4>
 
   <form action="/salvarparcela" id="formparcela" method="post" th:object="${parcelabj}">
    
   <div class="row">  
    <div class="input-field col s10">
      <label for="id_parcela" class="active">ID</label> 
      <input name="id_parcela" th:field="*{id}" id="id_parcela" class="validate" readonly="readonly">
    </div>
       
   <div class="col s5">
	 <label for="moeda">Moeda</label>  
	 <select th:field="*{moeda}" class="browser-default" required>
	  <option value="Dinheiro">Dinheiro</option>
    <option value="Debito">Cartão Débito</option>
    <option value="Credito">Cartão Crédito</option>
	  <option value="Pix">Pix</option>
	  <option value="Cheque">Cheque</option>
	</select>
    </div> 
          
    <div class="col s5">
       <label for="valor" class="active">Valor</label> 
       <input name="valor" th:field="*{valor}" id="valor" class="validate" required>
    </div>

   <div class="col s10">
      <label for="observacaoNovo" class="active">Observações</label> 
      <input name="observacaoParcela" th:field="*{observacao}" id="observacaoParcela" >
    </div> 
    <div class="col s5">
      <label for="pickdate" class="active">Data Pagamento</label> 
      <input type="text" class="datepicker" th:field="*{data_pagamento}"  name="data_pagamento"  >
    </div>
      

     <div class="col s5">
      <label for="pickdate" class="active">Data Vencimento</label> 
      <input type="text" class="datepicker" th:field="*{data_vencimento}"  name="data_vencimento" required >
    </div>
      
      
      
     <div class="col s10" style="visibility:hidden">
      <label for="locacao" class="active">Locacao</label> 
      <input name="locacao" th:field="*{locacao}" id="locacao" class="validate" required>
    </div> 
      
   
   <div class="col s10">
       <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
   </div>
  </div> 
  </form>
  </div>
          
    </div>

<!-- Modal Structure -->
  <div id="modalProdutos" class="modal bottom-sheet">
    <div class="modal-content">

     <h4>Incluir Produtos</h4>
 
   <form action="/salvarproduto" id="formproduto" method="post" th:object="${produtobj}">
    
      <div class="row">  
    <div class="input-field col s10">
      <label for="id_locacao_produto" class="active">ID</label> 
      <input name="id_locacao_produto" th:field="*{id}" id="id_locacao_produto" class="validate" readonly="readonly">
    </div>
       
    <div class="input-field col s5">
     <label for="Produto" class="active">Produto</label> 
     <br>
       <select onblur="consultaPrecoProduto()" th:field="*{produto}" class="browser-default" required>
       <option th:each="prod: ${produtos}"
			   th:value="${prod.id}"  th:text="${prod.id} + ' - ' + ${prod.categoria.nome}">   </option>
       </select> 
    </div>
          
    <div class="col s5">
       <label for="valor" class="active">Valor</label> 
       <input name="valorProduto" th:field="*{valor}" id="valorProduto"  class="validate" >
    </div>

   <div class="col s10">
      <label for="observacaoProduto" class="active">Observações</label> 
      <input name="observacaoProduto" th:field="*{observacao}" id="observacaoProduto" >
    </div> 
  

     <div class="col s5">
      <label for="pickdate" class="active">Data Liberação</label> 
      <input type="text" class="datepicker" th:field="*{data_liberacao}"  name="data_liberacao"  >
    </div>
      
      
     <div class="col s10" style="visibility:hidden">
      <label for="locacao" class="active">Locacao</label> 
      <input name="locacaoProduto" th:field="*{locacao}" id="locacaoProduto" class="validate" required>
    </div> 
      
   
   <div class="col s10">
       <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
   </div>
  </div> 
  </form>

    </div>
          
    </div>

<div th:replace="fragments :: footer"/> </div>

</body>
</html>