<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Locações</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Locações</h5>
      
      </div>
       <div style="text-align:right">
         <a  href="/cadastrolocacao" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
        
   
    </div>
   
  </nav>


  <div class="row grey lighten-2" style="margin:auto; padding:auto; max-width: 98%">
  
  <form action="pesquisarlocacao" method="post">

  <div class="row">
  
  <div class="input-field col s6">
	 <input name="dataInicio" id="datapesquisa" type="date" >
	 <label for="datapesquisaInicio" class="active">Data Inicio </label>
  </div>
  <div class="input-field col s6">
	 <input name="dataFinal" id="datapesquisa" type="date" >
	 <label for="datapesquisaFim" class="active">Data Final </label>
  </div>
  <div class="col s12"> 
     <input class="waves-effect waves-light btn grey darken-1" 
            type="submit" onclick="M.toast({html: 'Pesquisando locação Específica',classes: 'blue rounded'})" value="Buscar">
  </div>
  </div>
 </form>
  </div>
           
<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilterLocacao"  class="table table-striped">
  <div style="text-align:right" >
  </div>
   <thead>
     <tr>
        <th>Código</th>
	    <th>Data Contrato</th>
	    <th>Valor Total</th>
	    <th>Pendente</th>
	    <th>Cliente</th>
	    <th>Data Retirada</th>
	    <th>Contrato</th>
	    <th>Excluir</th>
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "locacao : ${locacoes}">
	   <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${locacao.id}"></a>
	   </td>
	   <td>
	    <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${#dates.format(locacao.data_locacao, 'dd/MM/yyyy')}"></a> 
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${#strings.replace(#numbers.formatCurrency(locacao.getValorTotalProdutos()), '.00', '')}"></a>
	   </td>
	   
         <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${#strings.replace(#numbers.formatCurrency(locacao.getDiferencaPagar()), '.00', '')}"></a>
	   </td>
	   
	   <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${locacao.cliente}"></a>
	   </td>
        <td>
	    <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${locacao.id})}" th:text="${#dates.format(locacao.data_retirada, 'dd/MM/yyyy')}"></a>
	    <td>  <a th:href="@{/gerarRelatorio/{idlocacao}(idlocacao=${locacao.id})}"> <i class="material-icons">cloud_download</i> </a></td>
	  <td> <a onclick="M.toast({html: 'Deletando locacao',classes: 'red rounded'})" th:href="@{/removerlocacao/{idlocacao}(idlocacao=${locacao.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
	 
</table>

 </div>  
  
<div th:replace="fragments :: footerScript"/>

</body>

</html>