<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Alteração de Parcela</title>


<head th:replace="~{fragments :: html_head}"/>

<body>

<div th:replace="~{fragments :: menu}"/>

<br>

 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  </div>
      <div class="col s12 card-panel teal grey darken-1"><span class="flow-text">Alteração da Parcela </span>
        <br>
      </div>
    </div>
</div>
<br>

<div class="container">
   <div class="row">    

 
    <form action="/salvarparcelaCustom" id="formparcela" method="post" th:object="${parcelabj}" enctype="multipart/form-data" >
     
       <div class="row">  
     <div class="input-field">
       <label for="id_parcela" class="active">ID</label> 
       <input name="id_parcela" th:field="*{id}" id="id_parcela" class="validate" readonly="readonly">
     </div>
        
    <div>
    <label for="moeda">Moeda</label>  
    <select th:field="*{moeda}" class="browser-default" required>
      <option value="Dinheiro">Dinheiro</option>
      <option value="Debito">Cartão Débito</option>
      <option value="Credito">Cartão Crédito</option>
      <option value="Pix">Pix</option>
      <option value="Cheque">Cheque</option>
   </select>
     </div> 
           
     <div >
        <label for="valor" class="active">Valor</label> 
        <input name="valor" th:field="*{valor}" id="valor" class="validate" required>
     </div>
 
    <div>
       <label for="observacaoNovo" class="active">Observações</label> 
       <input name="observacaoParcela" th:field="*{observacao}" id="observacaoParcela" >
     </div> 

     <div>
      <label for="NF" class="active">Numero NF</label> 
      <input name="numeroNf" th:field="*{numeroNf}" id="numeroNf" >
    </div> 


    
      <label for="Banco" class="active">Conciliação Bancária</label> 
      <select th:field="*{banco}" class="browser-default" th:disabled="${seguranca}">
        <option value="Não">Não</option>
        <option value="Sim">Sim</option>
     </select>
  


     <div class="col s12">  
      <div class="file-field input-field">
       <div class="btn">
         <span>Comprovante</span>
         <input type="file" name="file" id="file">
      </div>
      <div class="file-path-wrapper">
         <input class="file-path validate" type="text">
       </div>
      </div>
      </div>
 
     <div class="col s6">
      <label for="pickdate" class="active">Data Pagamento</label> 
      <input type="date" placeholder="yyyy-mm-dd" th:field="*{data_pagamento}"  name="data_pagamento"  >
    </div>

    <div class="col s6">
      <label for="pickdate" class="active">Data Vencimento</label> 
      <input type="date" placeholder="yyyy-mm-dd" th:field="*{data_vencimento}"  name="data_vencimento"  >
    </div>
       
      <div class="col s12" style="visibility:hidden">
       <label for="locacao" class="active">Locacao</label> 
       <input name="locacao" th:field="*{locacao}" id="locacao" class="validate" required>
     </div> 
       
    <div class="col s12">
        <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
    </div>
   </div> 
   </form>
    
  </div>

<div th:replace="~{fragments :: footer}"/> </div>

</body>
</html>