<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Alteração de Produto</title>

<head th:replace="~{fragments :: html_head}"/>

<body>

<div th:replace="~{fragments :: menu}"/>

<br>

 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  </div>
      <div class="col s12 card-panel teal grey darken-1"><span class="flow-text">Alteração de Produtos </span>
        <br>
      </div>
    </div>
</div>
<br>

<div class="container">
   <div class="row">    
    <form action="/salvarprodutoCustom" id="formproduto" method="post" th:object="${produtobj}" enctype="multipart/form-data" >
       <div class="row">  
     <div class="input-field">
       <label for="id_produto" class="active">ID</label> 
       <input name="id_produto" th:field="*{id}" id="id_produto" class="validate" readonly="readonly">
     </div>
     <div >
      <label for="produto" class="active">Produto</label> 
      <br>

      <select onblur="consultaPrecoProduto()" th:field="*{produto}" class="browser-default" required>
      <option th:each="prod: ${produtos}"
      th:value="${prod.id}"  th:text="${prod.id} + ' - ' + ${prod.categoria.nome}" ></option>
       </select> 
      </div>
     
     <div >
        <label for="valor" class="active">Valor</label> 
        <input name="valorProduto" th:field="*{valor}" id="valorProduto"  class="validate" >
     </div>
 
    <div>
       <label for="observacaoNovo" class="active">Observações</label> 
       <input name="observacaoproduto" th:field="*{observacao}" id="observacaoproduto" >
     </div> 

    <div class="col s6">
      <label for="pickdate" class="active">Data Liberação</label> 
      <input type="date" placeholder="yyyy-mm-dd" th:field="*{data_liberacao}"  name="data_liberacao"  >
    </div>

     <div class="col s12">  
      <div class="file-field input-field">
       <div class="btn">
         <span>Foto Produto</span>
         <input type="file" name="file" id="file">
      </div>
      <div class="file-path-wrapper">
         <input class="file-path validate" type="text">
       </div>
      </div>
      </div>
      
      <div class="col s12" style="visibility:hidden">
       <label for="locacao" class="active">Locacao</label> 
       <input name="locacao" th:field="*{locacao}" id="locacao" class="validate" required>
     </div> 
       
    <div class="col s12">
        <input onclick="M.toast({html: 'Salvando Registro',classes: 'green rounded'})" class="waves-effect waves-light btn grey darken-1" type="submit" value="Salvar">
    </div>
   </div> 
   </form>
    
  </div>

<div th:replace="~{fragments :: footer}"/> </div>



</body>
</html>