<!DOCTYPE html>
<html layout:decorate="~{layoutDataTable}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<!-- SELECT2 EXAMPLE -->
<div layout:fragment="corpo" style="width:100%">
	<form action="/salvarestado" id="formestado" method="post" th:object="${estadobj}" >
	<div class="card-header">
		  <h3 class="card-title">Cadastro de Estados</h3>
		  <div style="text-align: center;" id ="mensagens" th:class="${color}" role="alert">
			<span class="info-box-number" th:text="${id}"></span>
		  </div> 
	</div>  
	<!-- /.card-header -->
	<div class="card-body">
		<div class="row">
		<div class="col-md-4">
		  <div class="form-group">
			<label for="id">Id</label> 
			<input class="form-control" type="text" name="id" th:field="*{id}" id="id" readonly="readonly" >
		</div>
		</div>
		<!-- /.col -->
		<div class="col-md-4">
		  <div class="form-group">
	      <label for="nome">Nome</label> 
		  <input class="form-control" type="text" name="nome" th:field="*{nome}" id="nome" required>
		</div>
	    </div>
		<!-- /.form-group -->

		<div class="col-md-4">
			<div class="form-group">
				<label for="uf">UF</label>  
				<input class="form-control" type="text" name="sigla" th:field="*{sigla}" id="sigla" required>
			  </div>
		  </div>
		  <!-- /.form-group -->

	</div>



</div>
<div class="card-footer"> 
  <a  href="/listaestados" class="btn btn-warning ">Voltar</a>
  <button type="submit"  class="btn btn-success">Salvar</button>
</div>
	
	

</form>
	<script  th:src="@{/js/format/alert.js}"  th:fragment="js"></script>

	</div>
</body>
</html>