<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Estados</title>


<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>
<br>


 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  <a  href="/cadastroestado" class="waves-effect waves-light btn grey darken-1">Adicionar</a>

  </div>
      <div class="col s12 card-panel grey darken-1"><span class="flow-text">Estados </span>
  
        <br>
      </div>
    </div>
</div>
<br>

      <div class="container" style="border:1px">
		<form action="pesquisarestado" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomepesquisa" class="active">Pesquia por Nome ou Sigla</label>
					<input name="nomepesquisa" id="nomepesquisa" class="validate">
					<input class="waves-effect waves-light btn grey darken-1" type="submit"
						value="Buscar">
					<a class="waves-effect waves-light btn grey darken-1" href="/listaestados">Lista Estados</a>	
				</div>
			</div>			
		</form>
	</div>
 <br/>

<div class="container">
 
 <table class="striped #e0e0e0 grey lighten-2" border="1">
   <thead>
	   <tr>
	    <th>Id</th>
	    <th>Sigla</th>
	    <th>Nome</th>
	     <th>Editar</th>
	    <th>Excluir</th>
	   </tr>
	</thead>
	
	 <tbody>
	  <tr th:each = "estado : ${estados}">
	   <td th:text = "${estado.id}"></td>
	   <td th:text = "${estado.sigla}"></td>
	   <td  th:text = "${estado.nome}" ></td>

	   <td><a th:href="@{/editarestado/{idestado}(idestado=${estado.id})}"><i class="material-icons">edit</i></a>  </td>
	    <td><a th:href="@{/removerestado/{idestado}(idestado=${estado.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
	 </table>   
 </div>
<br>
<div th:replace="fragments :: footer"/>

</body>
</html>