<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Estados</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Lista de Estados</h5>
      
      </div>
       <div style="text-align:right"  class="col s6">
         <a  href="/cadastroestado" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilter"  class="table table-striped">
  <div style="text-align:right" >
  </div>
   <thead>
     <tr>
     <th>Id</th>
	    <th>UF</th>
	    <th>Nome</th>
	    <th>Excluir</th>
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "estado : ${estados}">
	  <td>
	   <a onclick="M.toast({html: 'Editando Estado',classes: 'blue rounded'})" th:href="@{/editarestado/{idestado}(idestado=${estado.id})}" th:text="${estado.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Estado',classes: 'blue rounded'})" th:href="@{/editarestado/{idestado}(idestado=${estado.id})}" th:text="${estado.sigla}"></a>
	   </td>
	  <td>
	   <a onclick="M.toast({html: 'Editando Estado',classes: 'blue rounded'})" th:href="@{/editarestado/{idestado}(idestado=${estado.id})}" th:text="${estado.nome}"></a>
	  </td>
	    <td><a th:href="@{/removerestado/{idestado}(idestado=${estado.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
	
	 
</table>

 </div>  
  
<div th:replace="fragments :: footerScript"/>

</body>

</html>