<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
  <div th:replace="fragments :: menu"/>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
       
  
           <canvas id="myChart" width="100" height="60%"></canvas>
       
        </div>
      </div>

    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </body>
  
  <div th:replace="fragments :: footer"/>
</html>
