<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:fragment="html_head">

<title>Fibonatti Termos & Costumes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/bootstrap/dataTables.bootstrap4.min.css" />


</head> 
 <body>
  <div th:fragment="menu">
        <nav>
            <div class="nav-wrapper grey darken-2">
                <!-- Logo -->
                <a href="/administrativo" class="brand-logo">Fibonatti</a>
                <!-- Ícone para abrir no Mobile -->
                <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="navbar-items" class="right hide-on-med-and-down">
                    <li><a href="/listalocacoes">Locação</a></li>  
                    <li>
                        <a class="dropdown-trigger" data-target="dropdown-menu5" href="#">
                            Pagamento/Produto <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" data-target="dropdown-menu1" href="#">
                            Cliente/Forncedor <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-trigger" data-target="dropdown-menu9" href="#">
                            Conta/Lançamento <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-trigger" data-target="dropdown-menu" href="#">
                            Localização <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
                <!-- Dropdown -->
                <ul id="dropdown-menu" class="dropdown-content">
                    <li><a href="/listaestados">Estado</a></li>
                    <li><a href="/listacidades">Cidade</a></li>
                    <!-- Logo  <li class="divider"></li> -->
                </ul>
                
                <!-- Dropdown -->
                <ul id="dropdown-menu1" class="dropdown-content">
                    <li><a href="/listaclientes">Cliente</a></li>
                    <li><a href="/listafornecedores">Fornecedor</a></li>
                    <!-- Logo  <li class="divider"></li> -->
                </ul>
                

                           <!-- Dropdown -->
                           <ul id="dropdown-menu9" class="dropdown-content">
                            <li><a href="/listaParcelas">Parcela Locação </a></li>
                            <li><a href="/listacontasBancarias">Conta Bancária</a></li>
                            <!-- Logo  <li class="divider"></li> -->
                        </ul>

                <!-- Dropdown -->
                <ul id="dropdown-menu5" class="dropdown-content">
                    <li><a href="/listapagamentos">Pagamento</a></li>
                    <li><a href="/listaprodutos">Produto</a></li>
                    <li><a href="/listaAjustes">Ajustes</a></li>
            
                 
                </ul>
                
            </div>
        </nav>
        
  <!-- Menu Mobile -->
    <ul id="mobile-navbar" class="sidenav">
        <li><a href="/administrativo">Início</a></li>
        <li><a href="/listalocacoes">Locação</a></li>  
     <li> <a class="dropdown-trigger" data-target="dropdown-menu4" href="#">
             Pagamento/Cliente <i class="material-icons right">arrow_drop_down</i>
             </a>
         </li>
         <li> <a class="dropdown-trigger" data-target="dropdown-menu6" href="#">
            Conta/Lançamento <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li> 
        <li> <a class="dropdown-trigger" data-target="dropdown-menu2" href="#">
             Localização <i class="material-icons right">arrow_drop_down</i>
             </a>
         </li>
            <li> <a class="dropdown-trigger" data-target="dropdown-menu3" href="#">
             Cliente/Forncedor <i class="material-icons right">arrow_drop_down</i>
             </a>
         </li>
   </ul>
            
    <!-- Dropdown -->
      <ul id="dropdown-menu2" class="dropdown-content">
           <li><a href="/listaestados">Estados</a></li> 
           <li><a href="/listacidades">Cidades</a></li>
      </ul> 
      
      <!-- Dropdown -->
      <ul id="dropdown-menu3" class="dropdown-content">
           <li><a href="/listaclientes">Clientes</a></li> 
           <li><a href="/listafornecedores">Fornecedores</a></li>
     </ul>  

                   <!-- Dropdown -->
                   <ul id="dropdown-menu6" class="dropdown-content">
                    <li><a href="/listaParcelas">Parcela Locação</a></li>
                    <li><a href="/listacontasBancarias">Conta Bancária</a></li>
                    <!-- Logo  <li class="divider"></li> -->
                </ul>
     
           <!-- Dropdown -->
      <ul id="dropdown-menu4" class="dropdown-content">
           <li><a href="/listapagamentos">Pagamento</a></li> 
           <li><a href="/listaprodutos">Produtos</a></li>
           <li><a href="/listacontasBancarias">Conta Bancaria</a></li>
     </ul>  
 </div>

</body>

 <div th:fragment="footer">
 
 <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Fibonatti <a class="brown-text text-lighten-3" href="/">Ternos & Costumes</a>
      </div>
    </div>
  </footer>



 <!--  Scripts-->
 <script type="text/javascript"  src="/materialize/js/jquery.min.js"></script>


 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
 
 <script type="text/javascript" src="/materialize/js/jquery.maskMoney.min.js" integrity="sha512-Rdk63VC+1UYzGSgd3u2iadi0joUrcwX0IWp2rTh6KXFoAmgOjRS99Vynz1lJPT8dLjvo6JZOqpAHJyfCEZ5KoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/main.js"></script>

<!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/titulo.autocomplete-estidade.js"></script>
 
 </div>
 
 <div th:fragment="footerScript">
 
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
 
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/main.js"></script>

 <script type="text/javascript" src="/materialize/js/jquery-3.5.1.js"></script>
 <script type="text/javascript" src="/materialize/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" src="/materialize/js/dataTables.bootstrap5.min.js"></script>
 

  <script type="text/javascript">
        $(document).ready(function () {
        	$('#tabFilter').DataTable( {
        		"lengthMenu": [ [10, 20, -1], [10, 20, "All"] ],
        		 "order": [1, "asc"],
        	    language: {
        	    	"emptyTable": "Nenhum registro encontrado",
        	        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        	        "infoFiltered": "(Filtrados de _MAX_ registros)",
        	        "infoThousands": ".",
        	        "loadingRecords": "Carregando...",
        	        "zeroRecords": "Nenhum registro encontrado",
        	        "search": "Pesquisar",
        	        "lengthMenu": " Mostrar  _MENU_ por página",
                    "zeroRecords": "Sem resultados",
                    "info": "Página _PAGE_ de _PAGES_",
        	        "paginate": {
        	            "next": "Próximo",
        	            "previous": "Anterior",
        	            "first": "Primeiro",
        	            "last": "Último"
        	        },
        	        "aria": {
        	            "sortAscending": ": Ordenar colunas de forma ascendente",
        	            "sortDescending": ": Ordenar colunas de forma descendente"
        	        }
        	        
        	    }
        	} );
          }
        );
     </script> 


<script type="text/javascript">
	$(document).ready(function () {
		$('#tabFilterOrderId').DataTable( {
            scrollY: false,
            scrollX: true,
			"lengthMenu": [ [15,30,-1], [15,30,"Todos"] ],
			 "order": [0, "desc"],
			language: {
				"emptyTable": "Nenhum registro encontrado",
				"info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
				"infoFiltered": "(Filtrados de _MAX_ registros)",
				"infoThousands": ".",
				"loadingRecords": "Carregando...",
				"zeroRecords": "Nenhum registro encontrado",
				"search": "Pesquisar",
				"lengthMenu": " Mostrar  _MENU_ por página",
				"zeroRecords": "Sem resultados",
				"info": "Página _PAGE_ de _PAGES_",
				"paginate": {
					"next": "Próximo",
					"previous": "Anterior",
					"first": "Primeiro",
					"last": "Último"
				},
				"aria": {
					"sortAscending": ": Ordenar colunas de forma ascendente",
					"sortDescending": ": Ordenar colunas de forma descendente"
				}
				
			}
		} );
	  }
	);
 </script> 
     


     <script type="text/javascript">
       $(document).ready(function() {
    $('#example').DataTable( {
        responsive: {
            details: {
                type: 'column',
                target: 'tr'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
    } );
} );
     </script> 
     
    
     
     
     
     
       <script type="text/javascript">
        $(document).ready(function () {
        	$('#tabFilterAjustes').DataTable( {
        		
        		"lengthMenu": [ [15, 30, -1], [15, 30, 20, "All"] ],
        		  "ordering": false,
        		  columnDefs: [
        		        {
        		            type: 'date-br', 
        		            targets: 5
        		        }
        		    ],
        		
        	    language: {
        	    	"emptyTable": "Nenhum registro encontrado",
        	        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        	        "infoFiltered": "(Filtrados de _MAX_ registros)",
        	        "infoThousands": ".",
        	        "loadingRecords": "Carregando...",
        	        "zeroRecords": "Nenhum registro encontrado",
        	        "search": "Pesquisar",
        	        "lengthMenu": " Mostrar  _MENU_ por página",
                    "zeroRecords": "Sem resultados",
                    "info": "Página _PAGE_ de _PAGES_",
        	        "paginate": {
        	            "next": "Próximo",
        	            "previous": "Anterior",
        	            "first": "Primeiro",
        	            "last": "Último"
        	        },
        	        "aria": {
        	            "sortAscending": ": Ordenar colunas de forma ascendente",
        	            "sortDescending": ": Ordenar colunas de forma descendente"
        	        }
        	        
        	    }
        	} );
          }
        );
     </script> 
     
     
     
     
     
     
     
 </div>
 
</html>