<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  
  <meta name="description" content=" Loja especializada em locação de trajes masculinos. Além de trajes de qualidade a Fibonatti Ternos & Costumes oferece aos seus clientes toda assessoria para a escolha do traje ideal para cada ocasião.">
  
  
  <title>Fibonatti Termos & Costumes</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



<body >

  <header class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center darken-2">Fibonatti Ternos & Costumes</h1>
      <div class="row center">
        <h5 class="header col s12 light">Loja especializada em locação de trajes masculinos</h5>
      </div>
      <div class="row center">
        <a href="https://wa.me/5554991845016?text=Gostaria+de+agendar+um+atendimento" id="download-button" class="btn-large waves-effect waves-light orange">Agendar</a>
      </div>
      <br><br>

    </div>
  </header>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">hub</i></h2>
            <h5 class="center">Ternos</h5>

            <p class="light">Ternos de alfaiataria para todas as ocasiões. Cores, tamanhos, modelos e padronagens para qualquer evento. A cada estação coleções que surpreendem pela qualidade, corte e design. Aqui você encontra o terno ideal para o seu estilo.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">hub</i></h2>
            <h5 class="center">Sapatos</h5>

            <p class="light">Modelagem exclusiva, design atual e conforto absoluto, são alguns dos pontos principais de nossa linha de sapatos sociais.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">hub</i></h2>
            <h5 class="center">Camisas</h5>

            <p class="light">Nossas camisas tem como objetivo atender as exigências dos clientes.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    

    
  </div>

  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre a Fibontti</h5>
          <p class="grey-text text-lighten-4"> Loja especializada em locação de trajes masculinos. Além de trajes de qualidade a Fibonatti Ternos & Costumes oferece aos seus clientes toda assessoria para a escolha do traje ideal para cada ocasião.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Redes Sociais<h5>
          <ul>
           <li> <a href="https://www.instagram.com/fibonattiternos/" class="white-text" >   <iconify-icon icon="ph:instagram-logo-thin"></iconify-icon> Instagram </a></li>
            <li> <a href="https://wa.me/5554991845016?text=Gostaria+de+agendar+um+atendimento" class="white-text" > <iconify-icon icon="mdi:whatsapp"></iconify-icon> whatsapp </a></li>
            <li> <a href="https://www.facebook.com/100086876544388/" class="white-text" >  <iconify-icon icon="ri:facebook-circle-line"></iconify-icon> Facebook </a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contatos<h5>
          <ul>
           <li> <a href="tel:54991845016" class="white-text" >  <iconify-icon icon="material-symbols:phone-callback-outline-rounded"></iconify-icon> Telefone </a></li>
            <li> <a href="https://goo.gl/maps/geyKiKhfhyRptZgX8" class="white-text" > <iconify-icon icon="simple-icons:googlemaps"></iconify-icon> <small> Av. Brasil Oeste, 1870  <br> Boqueirão Passo Fundo</small> </a></li>
          </ul>
        </div>
		
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
<p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>
           Fibonatti  
          
        </p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <script src="/materialize/js/materialize.js"></script>
  <script src="/materialize/js/init.js"></script>

  </body>
</html>
