<!DOCTYPE html>
<html layout:decorate="~{layoutDataTable}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="card-body">
		<div class="barraPrincipal" layout:fragment="barraPrincipal"   >
			<nav class="navbar navbar-dark" >
			  <div class="container-fluid" >
				<span class="info-box-text">Controle de Ajustes </span> 
			  </div>
			</nav>	
		</div>
	</div>
		<div class="card-body" style="width:100%">	
			<div class="corpo" layout:fragment="corpo"  >
				<table id="table-server"  class="table table-striped" style="width:100%">
				  <thead >
					<tr>
					 <th scope="col">Id Controle</th>
					  <th scope="col">Código Locação</th>
					  <th scope="col">Código Produto</th>
					  <th scope="col">Tipo Produto</th>
					  <th scope="col">Cor</th>
					  <th scope="col">Tamanho</th>
					  <th scope="col">Cliente</th>
					  <th scope="col">Status</th>
					  <th scope="col">Data Limite</th>
					  <th scope="col">Limite</th>
					  <th scope="col">IMG</th>
					</tr>
				  </thead>
				</table>
				<div th:replace="produto/ajustes-datatables-modal :: modal-form"></div>	
				<div th:replace="produto/ajustes-datatables-modal-baixar :: modal-baixar"></div>	
				<br>
			</div>
			<script th:src="@{js/ajustes/ajuste-datatable.js}" th:fragment="js"></script>
		</div>
	</div>
</body>
</html>