<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<!-- Modal -->
	<div class="modal fade" id="modal-form" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modal-form">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Detalhes dos Ajustes</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="form-edit-promo" action="#">					
		
							<div class="row">
									<div class="col-sm">
											<label for="edt_titulo">Código da Locação</label> <input
											type="text" class="form-control" id="edt_idLocacao" name="edt_idLocacao"  disabled/>
										<div id="error-titulo"></div>
									</div>

									<div class="col-sm">
										<label for="edt_titulo">Responsável pelo Contrato</label> <input
										type="text" class="form-control" id="edt_atendente" name="edt_atendente"  disabled/>
									<div id="error-titulo"></div>
								</div>


									<div class="col-sm">
											<label for="edt_titulo">Código do Produto</label> <input
											type="text" class="form-control" id="edt_produto" name="edt_produto"  disabled/>
											<div id="error-titulo"></div>
									</div>
							</div>

							<div class="row">
									<div class="col-sm">
										<label for="edt_tipo">Produto</label> <input
										type="text" class="form-control" id="edt_tipo" name="edt_tipo"  disabled/>
										<div id="error-titulo"></div>
									</div>
							
									<div class="col-sm">
										<label for="edt_tipo">Cor</label> <input
										type="text" class="form-control" id="edt_cor" name="edt_cor"  disabled/>
										<div id="error-titulo"></div>
									</div>
	
									<div class="col-sm">
										<label for="edt_tipo">Tamanho</label> <input
										type="text" class="form-control" id="edt_tamanho" name="edt_tamanho"  disabled/>
										<div id="error-titulo"></div>
									</div>
							  </div>

							  <div class="row">
									<div class="col-sm">
										<label for="edt_nome">Cliente</label>
										<input class="form-control" id="edt_cliente" name="edt_cliente"  disabled ></input>
									</div>
							
									<div class="col-sm">
										<label for="edt_tipo">Telefone</label> <input
										type="text" class="form-control" id="edt_telefone" name="edt_telefone"  disabled/>
										<div id="error-titulo"></div>
									</div>
	
									<div class="col-sm">
										<label for="edt_cidade">Cidade</label> <input
										type="text" class="form-control" id="edt_cidade" name="edt_cidade"  disabled/>
										<div id="error-titulo"></div>
									</div>
							 
								</div>
										<div class="form-group">
											<label for="edt_cidade">Ajustes</label> 
											<textarea class="form-control" id="edt_ajuste"  name="edt_ajuste" rows="3"></textarea>
										</div>
										<div class="row">
										<div class="col-sm">
											<label for="edt_outros">Outros itens do Contrato</label> <input
											type="text" class="form-control" id="edt_outros" name="edt_outros"  disabled/>
											<div id="error-titulo"></div>
										</div>
									</div>
                                    <br>
										<div class="col-sm">
											<div>
												<table id="edt_foto" align="center">
													<tbody></tbody>
												  </table>
											</div>
										</div>

								
									
						<input type="hidden" class="form-control" id="edt_id" name="id" /> 
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cancelar</button>
					<button id="btn-edit-modal" class="btn btn-primary">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>