<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Controle de Ajustes de Produtos</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left" class="col s6">
       <h5 class="white-text">Ajustes de Produtos</h5>
      
      </div>
 
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilterAjustes"  class="table table-striped">
   <div style="text-align:right" >
  </div>
   <thead>
     <tr>
        <th>Código Locacao</th>
	    <th>Código Produto</th>
	    <th>Tipo Produto</th>
	    <th>Cliente</th>
	   
	    <th>Data Liberacao</th>
	    <th>Data Limite</th>
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "produto : ${produtosContrato}">
	   <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${produto.locacao.id})}" th:text="${produto.locacao}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.produto.id})}" th:text="${produto.produto.id}"></a>
	   </td> 
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.produto.id})}" th:text="${produto.produto.categoria.nome}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando Cliente',classes: 'blue rounded'})" th:href="@{/editarcliente/{idcliente}(idcliente=${produto.locacao.cliente.id})}"  th:text="${produto.locacao.cliente.nome}"></a>
	   </td>
	    <td th:if="${produto.data_liberacao}!= null "   style="background-color:#00a000" th:text="${#dates.format(produto.data_liberacao, 'dd/MM/yyyy')}"> </td>	
	    <td th:if="${produto.data_liberacao}== null "   style="background-color:#FF0000" th:text="'Ajustes Pendentes'"> </td>
       <td>
	   <a onclick="M.toast({html: 'Editando locacao',classes: 'blue rounded'})" th:href="@{/editarlocacao/{idlocacao}(idlocacao=${produto.locacao.id})}"  th:text="${#dates.format(produto.locacao.data_retirada, 'dd/MM/yyyy')}"></a>
	   </td>
	  </tr>
	 </tbody>
</table>

 </div>  
  
<div th:replace="fragments :: footerScript"/>

</body>

</html>