<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Produtos</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

<br>
  <nav class="grey darken-1" style="margin:auto; padding:auto; max-width: 98%">
 
     <div class="row">
      <div style="text-align:left"  class="col s6">
       <h5 class="white-text">Produtos</h5>
      
      </div>
       <div style="text-align:right"  class="col s6">
         <a  href="/cadastroproduto" class="waves-effect waves-light btn grey darken-1">Adicionar</a>
       </div>
    </div>
    
  </nav>

<div class="card" style="margin: 20px auto; padding:20px; max-width: 98%">
   <table id="tabFilterProdutos"  class="table table-striped table-bordered">
   <div style="text-align:right" >
  </div>
   <thead>
     <tr>
        <th>Id</th>
	    <th>Fornecedor</th>
	    <th>Tipo</th>
	    <th>Cor</th>
	    <th>Tamanho</th>
	    <th>Data Compra</th>
	    <th>Valor</th>
	    <th>Foto</th>
	    <th>Excluir</th>
	 </tr>
    </thead>	
	<tbody>
	  <tr th:each = "produto : ${produtos}">
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.fornecedor}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.categoria}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.cor}"></a>
	   </td>
	   	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.tamanho}"></a>
	   </td>
       <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${#dates.format(produto.data_compra, 'dd/MM/yyyy')}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${#strings.replace(#numbers.formatCurrency(produto.valorVenda), '.00', '')}"></a>
	   </td>
	   <td><a th:if="${produto.arquivo !=null}"  th:href="@{/baixarArquivo/{idproduto}(idproduto=${produto.id})}" ><i class="material-icons">cloud_download</i></a> </td> 
	  <td> <a onclick="M.toast({html: 'Deletando produto',classes: 'red rounded'})" th:href="@{/removerproduto/{idproduto}(idproduto=${produto.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
</table>

 </div>  
  

<div th:replace="fragments :: footerScript"/>





</body>



</html>