<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Lista de Produtos</title>


<head th:replace="fragments :: html_head"/>


<body>

<div th:replace="fragments :: menu"/>
<br>


 <div class="container">
  <div class="row">
        <div style="text-align:right" >
  <a  href="/cadastroproduto" class="waves-effect waves-light btn grey darken-1">Adicionar</a>

  </div>
      <div class="col s12 card-panel teal lighten-2 grey darken-1"><span class="flow-text">Produtos </span>
        <br>
      </div>
      
   
  </div>
    </div>
    
    <div style="position: relative">

<div id="toast-container"></div>
</div>

<br>
      <div class="container" style="border:1px">
		<form action="pesquisarproduto" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomepesquisa" class="active">Pesquia por Código,  ou Fornecedor </label>
					<input name="nomepesquisa" id="nomepesquisa" class="validate">
					<input class="waves-effect waves-light btn grey darken-1" type="submit"
					     onclick="M.toast({html: 'Pesquisando produto Específica',classes: 'blue rounded'})"
						value="Buscar">
  <a onclick="M.toast({html: 'Pesquisando todas Produtos',classes: 'blue rounded'})" class="waves-effect waves-light btn indeterminate grey darken-1" href="/listaprodutos">Lista Produtos</a>	
        
				</div>
			</div>			
		</form>
	</div>
 <br/>

<div class="container col s12">
 
 <table class="striped #e0e0e0 grey lighten-2 highlight col s12">
   <thead>
	   <tr>
	    <th>Id</th>
	    <th>Fornecedor</th>
	    <th>Tipo</th>
	    <th>Data Compra</th>
	    <th>Valor</th>
	    <th>Foto</th>
	    <th>Excluir</th>
	   </tr>
	</thead>
	
	 <tbody>
	  <tr th:each = "produto : ${produtos}">
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.id}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.fornecedor}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${produto.categoria}"></a>
	   </td>
       <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${#dates.format(produto.data_compra, 'dd/MM/yyyy')}"></a>
	   </td>
	   <td>
	   <a onclick="M.toast({html: 'Editando produto',classes: 'blue rounded'})" th:href="@{/editarproduto/{idproduto}(idproduto=${produto.id})}" th:text="${#strings.replace(#numbers.formatCurrency(produto.valorCompra), '.00', '')}"></a>
	   </td>
	   <td><a th:if="${produto.arquivo !=null}"  th:href="@{/baixarArquivo/{idproduto}(idproduto=${produto.id})}" ><i class="material-icons">cloud_download</i></a> </td> 
	  <td> <a onclick="M.toast({html: 'Deletando produto',classes: 'red rounded'})" th:href="@{/removerproduto/{idproduto}(idproduto=${produto.id})}"><i class="material-icons">delete_forever</i></a></td>
	  </tr>
	 </tbody>
	 </table>   
 </div>
 
<br>

</body>
<div th:replace="fragments :: footer"/>
</html>