<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Pesquisa Produtos</title>

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: menu"/>

  <nav class="grey darken-1" >
     <div class="row">
      <div style="text-align:center"  class="col s12">
       <h5 class="white-text">Consulta de produtos</h5>
      </div>
    </div> 
</nav>
<br>
<br>

	<form action="pesquisaprodutocustom" method="post">
	<div class="row">
	<div class="input-field col s12" >
	   <input  name="idProduto" id="idProduto" type="number" autocomplete="off" required>
	   <label  for="idProduto" >Código do Produto </label>
	</div> 

	<div class="col s12" style="text-align:center "> 
	   <input class="waves-effect waves-light btn-large grey darken-1" type="submit"  onclick="M.toast({html: 'Pesquisando produto',classes: 'blue rounded'})" value="Pesquisar">
			 
	</div>
   </form>
</div>
<div th:replace="fragments :: footerScript"/>
</body>
</html>